<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Usuario: {{user.name}} {{user.email}} </span>
    <span class="example-spacer"></span>

    <span style="font-size:12px; padding-right: 10px;"><a (click)="logout()">Salir</a></span>
    <img style="height:40px;" mat-card-avatar [src]="user.image" class="example-header-image" />
    <i [hidden]="user" class="material-icons">
      account_circle
    </i>

  </mat-toolbar-row>
</mat-toolbar>
<div class="card-body">
  <h4>¡Bienvenid@ {{user.name}}!</h4>
  <p style="font-size:14px;" class="card-text">Rercuerda: No emitir juicios negativos, ser tolerante y respetuoso. Empaticemos </p>
</div>