<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Meeus, red de empatía.</span>
    <span class="example-spacer"></span>

    <span style="font-size:12px; padding-right: 10px;"><a (click)="logout()">Salir</a></span>
    <img style="height:40px;" mat-card-avatar [src]="user.image" class="example-header-image" />
    <i [hidden]="user" class="material-icons">
      account_circle
    </i>

  </mat-toolbar-row>
</mat-toolbar>

<div class="card-body">
  <h4>¡Bienvenid@ {{user.name}}!</h4>
  <p style="font-size:14px;" class="card-text">Rercuerda: No emitir juicios negativos, ser tolerante y respetuoso.
    Empaticemos </p>
</div>

<div class="container">
  <app-post></app-post>
  <app-post-list></app-post-list>
</div>

<!-- <div class="card text-center">
    <div class="card-header">
      Comparte tus pensamientos :
    </div>
    <div class="card-body">
      
      <input type="text" name="mensaje" id="mensaje" placeholder="Escribe aquí tu mensaje.">
      <a href="#" class="btn btn-primary">Publicar</a>
    </div>
</div>

<br><br><br>

<div class="card">
      <div class="card-body">
          <img style="height:40px;" mat-card-avatar [src]="user.image" class="example-header-image" />
          <i [hidden]="user" class="material-icons">
            account_circle
          </i>
          <strong>@{{user.name}}:</strong> A veces es díficil esto de la programación 🙃. . .
          <br>
          <button style="background-color:#17a2b8; margin-top: 10px" mat-button>Editar</button> <span></span>
          <button style="background-color:#dc3545; margin-top: 10px" mat-button>Borrar</button>
        </div>
</div>
<br><br>

<div class="card">
    <div class="card-body">
        <img style="height:40px;" mat-card-avatar [src]="user.image" class="example-header-image" />
        <i [hidden]="user" class="material-icons">
          account_circle
        </i>
        <strong>@{{user.name}}:</strong> Siento que estoy descuidando un poquito mi alimentación y casi no duermo 🤔. . .
        <br>
        <button style="background-color:#17a2b8; margin-top: 10px" mat-button>Editar</button>
        <button style="background-color:#dc3545; margin-top: 10px" mat-button>Borrar</button>
      </div>
</div>
<br><br>

<div class="card">
    <div class="card-body">
        <img style="height:40px;" mat-card-avatar [src]="user.image" class="example-header-image" />
        <i [hidden]="user" class="material-icons">
          account_circle
        </i>
        <strong>@{{user.name}}:</strong> Todos los días intento mejorar mis soft skills 😝. . .
        <br>
        <button style="background-color:#17a2b8; margin-top: 10px" mat-button>Editar</button>
        <button style="background-color:#dc3545; margin-top: 10px" mat-button>Borrar</button>
    </div>
</div> -->